*{
  font-family:'jost'
}

#header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 15px;
 
}
#left-header{
  display: flex;
  align-items: baseline;
 
 gap:10px
}

#right-header{
  display: flex;
  width: 360px;
  justify-content: space-between;
}
button{
  background-color: rgb(22, 142, 255);
  color: white;
  padding: 5px;
  border-radius: 5px;
  border-color: rgb(22, 142, 255);;
}
.nosubmit {
  border: 1px solid #555;
  width: 100%;
  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  
}
input[type='search']{
  border-radius: 25px;
  border-color: rgb(183, 180, 180);
}
input[type="search"]:focus {
  
  outline: none;
}
input:focus {

  outline: none;
}
h3{
  width: 380px;
}
hr.line{
  background-color: rgb(183, 180, 180);
    height: 1px;
    border: 0;
  
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}


table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

thead{
  background-color: #f8f8f8;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

#between {
  color: rgb(183, 180, 180);
}
/* #F2F3F5 */
.edit-filter-modal {
  background-color: white;
  width: 200px;
  position: absolute;
  top:135px;
  left: 216px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease, opacity 0.1s ease;
  transform-origin: 0 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap:6px;
  
}
a:hover{
  background-color: #F2F3F5;
}

body {

  font-family: 'Sans-serif';
  margin: 5px;

}

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  background: rgba(3, 3, 3, 0.5);
  top: 0;
  justify-content: center;
  align-items: center;

}

#modal-close {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 6px;
}

.modal {
  position: relative;
  background-color: white;
  opacity: 1;
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;
  gap: 15px;
  padding: 30px;
  border-radius: 6px;
}

#modal-main input,
select {
  padding: 0px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-button {

  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%
}

#modal-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
  margin-bottom: 15px;
}

.vehicle-fare {
  display: flex;
  justify-content: space-between;
  gap: 15px
}